.border1{
    border: 1px solid #609da0;
    height: 95vh;
    border-radius: 10px;
}
.bady{
    background-color: rgb(245, 241, 241);
}
.letexteh1{
   background-color: aqua;
    border-top-left-radius: 7px;
    border-right: none;
}
.border2{
    border: 1px solid #609da0;
    border-top: none;
    border-left: none;
    border-bottom: none;
  
    height: 100%;
}
.border3{
    border: 1px solid #609da0;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.border8{
    height: 80px;
    
}
.buttons{
    background-color: aqua;
    color: white;
    width: 65%;
    font-size: 25px;
    border: none;
    border-radius: 9px;
}
.buttons:hover{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: black;
}
.label{
    color: #baa6ab;
    position: relative;
}
.letext{
    color: #609da0;
}
.laligneTR{
    background-color: aqua;
}
span{
 color: #baa6ab;
}

.inputbox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    transition: 0.5s;
    bottom: 4px;
}

.inputbox{
    position: relative;
    /* width: 250px; */
}
.inputbox input{
    padding: 10px;
    border: 1px solid #609da0;
    outline: none;
    color: #baa6ab;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: white;
    transform: translateX(10px) translateY(-32px);
    font-size: 0.75em;
    padding: 0 10px;
    background: #609da0;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-radius: 3px;
}
.form-control:focus{
    box-shadow: none;
    border-color: #609da0;
    color: #baa6ab;
}
.inputbox1 textarea:valid ~ span,
.inputbox1 textarea:focus ~ span{
    color: white;
    transform: translateX(10px) translateY(-38px);
    font-size: 0.75em;
    padding: 0 10px;
    background: #609da0;
    letter-spacing: 0.2em;
    font-weight: bold;
    border-radius: 3px;
}
.inputbox1 textarea{
    padding: 10px;
    border: 1px solid #609da0;
    outline: none;
    color: #baa6ab;
}
.inputbox1 span{
    position: absolute;
    left: 50px;
    padding: 10px;
    pointer-events: none;
    transition: 0.5s;
    bottom: 610px;
    
}
/* @media screen and (max-width:375px) { 
    .inputbox1 textarea:valid ~ span,
    .inputbox1 textarea:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-31px);
        font-size: 0.75em;
        padding: 0 10px;
        background: #609da0;
        letter-spacing: 0.2em;
        font-weight: bold;
        border-radius: 3px;
    }
    .inputbox1 span{
        position: absolute;
        left: 50px;
        padding: 10px;
        pointer-events: none;
        transition: 0.5s;
        bottom: 499px;
        
    }
}
*/

@media screen and (max-width:1440px) { 
    .inputbox1 textarea:valid ~ span,
    .inputbox1 textarea:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-31px);
        font-size: 0.75em;
        padding: 0 10px;
        background: #609da0;
        letter-spacing: 0.2em;
        font-weight: bold;
        border-radius: 3px;
    }
    .inputbox1 span{
        position: absolute;
        left: 50px;
        padding: 10px;
        pointer-events: none;
        transition: 0.5s;
        bottom: 997px;
        
    }
}
@media screen and (max-width:1024px) { 
    .inputbox1 textarea:valid ~ span,
    .inputbox1 textarea:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-31px);
        font-size: 0.75em;
        padding: 0 10px;
        background: #609da0;
        letter-spacing: 0.2em;
        font-weight: bold;
        border-radius: 3px;
    }
    .inputbox1 span{
        position: absolute;
        left: 50px;
        padding: 10px;
        pointer-events: none;
        transition: 0.5s;
        bottom: 772px;
        
    }
}

@media screen and (max-width:768px) { 
    .inputbox1 textarea:valid ~ span,
    .inputbox1 textarea:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-31px);
        font-size: 0.75em;
        padding: 0 10px;
        background: #609da0;
        letter-spacing: 0.2em;
        font-weight: bold;
        border-radius: 3px;
    }
    .inputbox1 span{
        position: absolute;
        left: 50px;
        padding: 10px;
        pointer-events: none;
        transition: 0.5s;
        bottom: 459px;
        
    }
}
@media screen and (max-width:425px) { 
    .inputbox1 textarea:valid ~ span,
    .inputbox1 textarea:focus ~ span{
        color: white;
        transform: translateX(10px) translateY(-31px);
        font-size: 0.75em;
        padding: 0 10px;
        background: #609da0;
        letter-spacing: 0.2em;
        font-weight: bold;
        border-radius: 3px;
    }
    .inputbox1 span{
        position: absolute;
        left: 50px;
        padding: 10px;
        pointer-events: none;
        transition: 0.5s;
        bottom: 490px;
    }
} 
.datacolor{
    background-color: transparent !important;
    color: transparent !important;
}
.table88{
    border: 1px solid #609da0;
    height: 66%;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;  
}
.sapn1{
    background-color: #26e8c3;
    color: black;
    border-radius: 5px;
}
.sapn2{
    background-color: #80c6e8;
    color: black;
    border-radius: 5px;
}
.sapn3{
    background-color: #e26265;
    color: black;
    border-radius: 5px;
}
.textarea{
    width:99%;
}
.hover:hover{
    background-color: #c7dddf;
}
.feedback{
    position: absolute;
    border: 2px solid #609da0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: none;
}
.feedback-none{
    display: block;
}
.textAjout{
    color: white;
    background-color: #609da0;
    font-size: 25px;
    width: 100%;

}
.divText{
    background-color: white;
    font-weight: bold;
    height: 100%;
}
.hover:nth-child(even){
    background-color: #a6cac9;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: #d1e5ff;
}
.tdclick{
    cursor: pointer;
}
.btneye{
    background-color: transparent;
    border: none;
}
.divEye{
    position: absolute;
    left: 990px;
    bottom: 500px;
    background-color: white;
    border: 1px solid #baa6ab;
    width: 400px;
    height: 370px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.spaneye{
    color: white;
    font-size: 25px;
    
}
.divbgeye{
    background-color: #69a7a9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.disparu{
    display: none;
}
#spanDate{
    color: black;
    font-size: 18px;
    color: #609da0;
}
#spanTitre{
    color: black;
    font-size: 18px;
    color: #609da0;
}
#spanCategorie{
    color: black;
    font-size: 18px;
    color: #609da0;
}
#spanDescriptions{
    color: black;
    font-size: 18px;
    color: #609da0;
}
#spanStatu{
    color: black;
    font-size: 18px;
    color: #609da0;
}
